name: Vercel Production Deployment
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
on:
  push:
    branches:
      - master
jobs:
  Deploy-Production:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [11.*]
    steps:
      - uses: actions/checkout@v2
      - name: Install Vercel CLI
        run: npm install --global vercel@latest
      - name: Pull Vercel Environment Information
        run: cd website && vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}
      - name: Front-end build
        run: cd website && npm install && ./node_modules/webpack/bin/webpack.js --config webpack.config.prd.js
      - name: Build Project Artifacts
        run: cd website && vercel build --prod --token=${{ secrets.VERCEL_TOKEN }}
      - name: Deploy Project Artifacts to Vercel
        run: cd website && vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }}
